{
    "extends": [
        "@deboxsoft/devel/typescript"
    ],
    "rules": {
        "func-names": 0,
        "lines-between-class-members": 0,
        "no-dupe-class-members": 0,
        "no-empty": 0,
        "no-lonely-if": 0,
        "no-nested-ternary": 0,
        "no-restricted-globals": 0,
        "no-shadow": 0,
        "no-unneeded-ternary": 0,
        "no-useless-constructor": 0,
        "no-undef-init": 0,
        "object-shorthand": 0,
        "one-var": 0,
        "prefer-template": 0,
        "prefer-const": 0,
        "prefer-destructuring": 0,
        "spaced-comment": 0,
        "new-cap": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/no-object-literal-type-assertion": 0,
        "@typescript-eslint/no-parameter-properties": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/prefer-interface": 0,
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/array-type": 0,
        "@typescript-eslint/no-angle-bracket-type-assertion": 0,
        "prettier/prettier": 0
    }
}
