{
    "extends": [
        "@deboxsoft/devel/typescript"
    ],
    "rules": {
        "func-names": 0,
        "no-useless-constructor": 0,
        "prefer-destructuring": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-parameter-properties": 0,
        "@typescript-eslint/no-explicit-any": 0
    }
}
